#about {
	width: 100vw;

	background: url(../images/notebooklaptop.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	overflow: hidden;
}

.innerinfo {
	// display: flex;
	// flex-direction: row;
	color: black;
	background: rgba(255, 255, 255, 0.7);
}
