@media screen and (max-width: 480px) {
	#contact-me {
		display: block;
		a {
			font-weight: 800;
			font-size: 1.4em;
		}
	}
	.links {
		padding: 0 10px;
	}
}

#contact-me {
	text-align: center;
	background-color: rgb(233,245,209);
}

.contact-title {
	font-weight: normal;
	font-size: 63px;
	padding-top: 52px;
	margin-bottom: 30px;
}

.contactlinks {
	visibility: visible;
	animation-delay: 0.2s;
	animation-name: bounceIn;
}

.contact-info {
	margin: 20px 0px;
}

.contactlogo {
	margin-top: 20px;
}

.links {
	margin: 10px;
}
