#contact-me{
    text-align: center;
}

.contact-title{
    padding-top: 52px;
}

.contactlinks{
    visibility: visible;
    animation-delay: 0.2s;
    animation-name: bounceIn;
}

.contact-info{
    margin: 20px 0px;
}