@media screen and (min-width: 1025px) {
  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block !important;
  }

  .navbar-item.is-hoverable:focus-within .navbar-dropdown {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

.navbar-item {
  font-size: 1.3em;
  text-align: center;
}
