.projects-cards {
    background-color: mistyrose;
}

.projects-cards h1 {
    text-align: center;
    font-weight: normal;
}

#projects {
    height: 100%;
    text-align: center;
}
.project-title{
    padding-top: 52px;
}