@media screen and (min-device-width: 1200px) {
  .skillcard {
    flex-basis: 50%;
  }
}

#skills-list {
  display: flex;
  justify-content: flex-start;
  flex-flow:row wrap;
}
.skills-title{
		font-weight: normal;
		font-size: 63px;
		padding-top: 52px;
		margin-bottom: 30px;
}

.skills-section {
  background-color: #dde5e8; 
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.skillcard {
  // padding: 25px 20px 25px;
  flex-basis: 50%;
  padding: 10px;
  box-sizing: border-box;
  -ms-flex: auto;
  position: relative;
}
.css {
  height: 50px;
}

.postgres {
  height: 70px;
  margin-top: 17px;
}

.logo {
  margin-top: 5px;
}
