/* #nav-toggle-state {
    display: none;
}

nav-toggle-state:checked~.navbar-menu {
    display: block;
} */

@media screen and (min-width: 1025px) {
    .navbar-item.is-hoverable:hover .navbar-dropdown {
        display: block !important;
    }

    .navbar-item.is-hoverable:focus-within .navbar-dropdown {
        display: none;
    }
}

html  {
    scroll-behavior: smooth;
    
}