.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav {
  background-color: var(--off-white);
  position: sticky;
  top: 0px;
  width: 100vw;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}
.nav-items{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

.nav-item:hover {
  color:blue;
}

/* projects */
.project-container {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
