body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* projects */

.projects-cards{
  background-color: mistyrose;
}

.projects-cards h1{
  text-align: center;
  font-weight: normal;
}

/* contact me links */
.links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.intro{
  background-color: darkkhaki;
}