body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
   font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", */
    monospace;

}

@font-face{
   font-family: 'Montserrat',
   sans-serif;
   font-family: 'Crimson Text',
   serif;
}

/* contact me links */
.links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#contact-me{
  height:100vh;
}

@media screen and (max-width: 480px) {
  #about{
    .innerinfo{
    /* margin: 60px 20px 70px 20px; */
    height: 10px;
    display: block;
    /* .inner {
      height: 15vw;
      top: 11px;
      right: 26px;
    } */
    }
  }
}