body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* about */

.intro {
  background-color: darkkhaki;
  height: 100vh;
}


/* contact me links */
.links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#contact-me{
  height:100vh;
}